{% extends "layout.html" %}

{% block content %}

    <form>
        <div class="form-group row">
            <label for="inputTitle" class="col-sm-2 col-form-label">*Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputTitle" placeholder="Title">
            </div>
        </div>

        <fieldset class="form-group">
            <div class="row">
                <legend class="col-form-label col-sm-2 pt-0">*Payment Type</legend>
                <div class="col-sm-10">
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
                               checked>
                        <label class="form-check-label" for="gridRadios1">
                            Paypal
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
                        <label class="form-check-label" for="gridRadios2">
                            Visa
                        </label>
                    </div>
                </div>
            </div>
        </fieldset>

        <div class="form-group row">
            <div class="col-sm-2 col-form-label">Games</div>
            <div class="col-sm-10">
                <ul class="list-group">
                    <li class="list-group-item">
                        Game 1 <a href="{% url 'edit_game' 1 %}">Edit</a>&nbsp;<a href="#">Delete</a>
                    </li>
                    <li class="list-group-item">
                        Game 2 <a href="{% url 'edit_game' 2 %}">Edit</a>&nbsp;<a href="#">Delete</a>
                    </li>
                    <li class="list-group-item">
                        Game 3 <a href="{% url 'edit_game' 3 %}">Edit</a>&nbsp;<a href="#">Delete</a>
                    </li>
                    <li class="list-group-item">
                        Game 4 <a href="{% url 'edit_game' 4 %}">Edit</a>&nbsp;<a href="#">Delete</a>
                    </li>
                </ul>
                <a href="{% url 'create_game' %}">
                    <button type="button" class="btn btn-secondary mt-2">Add Game</button>
                </a>
            </div>
        </div>

        <div class="form-group row">
            <label for="inputDuration" class="col-sm-2 col-form-label">*Duration</label>
            <div class="col-sm-10">
                <select class="custom-select" id="inputDuration">
                    <option selected>-</option>
                    <option value="3">3 days</option>
                    <option value="5">5 days</option>
                    <option value="7">7 days</option>
                    <option value="10">10 days</option>
                </select>

            </div>
        </div>

        <div class="form-group row">
            <label for="inputFreight" class="col-sm-2 col-form-label">*Freight</label>
            <div class="col-sm-10">
                <input type="number" min="0.00" step="0.01" class="form-control" id="inputFreight">
            </div>
        </div>

        <div class="form-group row">
            <label for="inputCost" class="col-sm-2 col-form-label">Cost</label>
            <div class="col-sm-10">
                <input type="number" class="form-control" id="inputCost" placeholder="0.00" readonly>
            </div>
        </div>

        <div class="form-group row">
            <div class="col-sm-10">
                <button type="submit" class="btn btn-primary">Sell Article</button>
            </div>
        </div>


    </form>

{% endblock %}
