{% if user.is_authenticated %}
    <li>
        <a href="{% url 'saved' %}">Saved</a>
    </li>
    <li>
        <a href="{% url 'create_article' %}">Sell Article</a>
    </li>
    <li class=" nk-drop-item demo-js">
        <a href="#">Hello {{ user.username }}</a>
        <ul class="dropdown">
            <li>
                <a href="#">Profile</a>
            </li>
            <li>
                <a href="#">Settings</a>
            </li>
            <li>
                <form action="/logout" method="get" name="logout">
                    {% csrf_token %}
                    <a href="javascript:document.getElementsByName('logout')[0].submit()" class="demo-opened">Log Out</a>
                </form>
            </li>
        </ul>
    </li>

{% else %}
    <li>
        <a href="#" data-toggle="modal" data-target="#modalLogin">Log In</a>
    </li>
    <li>
        <a href="{% url 'signup' %}">Sign Up</a>
    </li>
{% endif %}