{% if user.is_authenticated %}
    <li>
        <a href="{% url 'articles_saved' %}">Saved</a>
    </li>
    <li class="nk-drop-item">
        <a href="{% url 'articles_owned' user.id %}">My Articles</a>
        <ul class="dropdown">
            <li>
                <a href="{% url 'articles_owned' user.id %}#onsale">On Sale</a>
            </li>
            <li>
                <a href="{% url 'articles_owned' user.id %}#soldout">Sold Out</a>
            </li>
            <li>
                <a href="{% url 'articles_owned' user.id %}#purchased">Purchased</a>
            </li>
        </ul>
    </li>
    <li class=" nk-drop-item demo-js">
        <a href="#">Hello {{ user.username }}</a>
        <ul class="dropdown">
            <li>
                <a href="{% url 'profile' user.id %}">Profile</a>
            </li>
            <li>
                <a href="{% url 'create_article1' %}">Sell Article</a>
            </li>
            <li>
                <a href="{% url 'settings' %}">Settings</a>
            </li>
            <li>
                <form action="/logout" method="get" name="logout">
                    {% csrf_token %}
                    <a href="javascript:document.getElementsByName('logout')[0].submit()" class="demo-opened">Log Out</a>
                </form>
            </li>
        </ul>
    </li>

{% else %}
    <li>
        <a href="#" data-toggle="modal" data-target="#modalLogin">Log In</a>
    </li>
    <li>
        <a href="{% url 'signup' %}">Sign Up</a>
    </li>
{% endif %}