<h4 class="mb-0"><span class="text-main-1">Log</span> In</h4>
<div class="nk-gap-1"></div>

<form action="{% url 'login' %}" method="post" class="nk-form text-white">
    {% csrf_token %}
    Use username and password:

    <div class="nk-gap"></div>
    {{ login_form.username }}

    <div class="nk-gap"></div>
    {{ login_form.password }}

    <div class="nk-gap"></div>
    {% if login_error %}
       <a href="#" class="error">
           Please enter a correct username and password.
           Note that both fields may be case-sensitive.
       </a>
    {% endif %}

    <div class="nk-gap-1"></div>
    <div class="row vertical-gap">
        <div class="col-md-6">
            <button type="submit"
               class="nk-btn nk-btn-rounded nk-btn-color-white nk-btn-block"
               name="login">Log In</button>
        </div>
        <div class="col-md-6">
            <div class="mnt-5">
                <small><a href="{% url 'signup' %}">Not a member? Sign up</a></small>
            </div>
        </div>
    </div>
</form>