
{% extends "layout.html" %}

{% block content %}
    {% load static %}

<div class="nk-main">

        
<div class="container">
     <h2 class="nk-decorated-h-3"><span>Saved Articles</span></h2>
    <div class="nk-gap-2"></div>

    <!-- START: Products -->
    <div class="row vertical-gap">
        
        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="{% url 'article_details' 1  %}">
                    <img src="{% static 'assets/images/product-1-md.jpg' %}" alt="So saying he unbuckled">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{% url 'article_details' 1  %}">So saying he unbuckled</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="4"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden
                    <div class="nk-gap-2"></div>
                    <div class="nk-product-price">€ 23.00</div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="{% url 'article_details' 1 %}">
                    <img src="{% static 'assets/images/product-2-md.jpg' %}" alt="However, I have reason">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{% url 'article_details' 1 %}">However, I have reason</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="2.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    He made his passenger captain of one, with four of the men; and himself, his mate, and five more, went in the other; and they contrived their business very well, for they
                    <div class="nk-gap-2"></div>
                    <div class="nk-product-price">€ 32.00</div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="{% url 'article_details' 1 %}">
                    <img src="{% static 'assets/images/product-10-md.jpg' %}" alt="My mother was so much">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{% url 'article_details' 1 %}">My mother was so much</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="3.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    A hundred thousand grateful loves to your dear papa and mamma . Is your poor brother recovered of his rack - punch ? Oh, dear!Oh, dear!How men should beware of wicked
                    <div class="nk-gap-2"></div>
                    <div class="nk-product-price">€ 32.00</div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="{% url 'article_details' 1 %}">
                    <img src="{% static 'assets/images/product-11-md.jpg' %}" alt="She gave my mother">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{% url 'article_details' 1 %}">She gave my mother</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="3"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="far fa-star"></i> <i class="far fa-star"></i></div>
                    <div class="nk-gap-1"></div>
                    Just then her head struck against the roof of the hall: in fact she was now more than nine feet high, and she at once took up the little golden key and hurried off to the garden
                    <div class="nk-gap-2"></div>
                    <div class="nk-product-price">€ 14.00</div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </div>
        </div>
        
        <div class="col-lg-6">
            <div class="nk-product-cat-2">
                <a class="nk-product-image" href="{% url 'article_details' 1 %}">
                    <img src="{% static 'assets/images/product-12-md.jpg' %}" alt="A hundred thousand">
                </a>
                <div class="nk-product-cont">
                    <h3 class="nk-product-title h5"><a href="{% url 'article_details' 1 %}">A hundred thousand</a></h3>
                    <div class="nk-gap-1"></div>
                    <div class="nk-product-rating" data-rating="4.5"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fas fa-star-half"></i></div>
                    <div class="nk-gap-1"></div>
                    He made his passenger captain of one, with four of the men; and himself, his mate, and five more, went in the other; and they contrived their business very well, for they
                    <div class="nk-gap-2"></div>
                    <div class="nk-product-price">€ 20.00</div>
                    <div class="nk-gap-1"></div>
                    <a href="#" class="nk-btn nk-btn-rounded nk-btn-color-dark-3 nk-btn-hover-color-main-1">Add to Cart</a>
                </div>
            </div>
        </div>
        
    </div>
    <!-- END: Products -->

    <!-- START: Pagination -->
    <div class="nk-gap-3"></div>
    <div class="nk-pagination nk-pagination-center">
        <a href="#" class="nk-pagination-prev">
            <span class="ion-ios-arrow-back"></span>
        </a>
        <nav>
            <a class="nk-pagination-current" href="#">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <span>...</span>
            <a href="#">14</a>
        </nav>
        <a href="#" class="nk-pagination-next">
            <span class="ion-ios-arrow-forward"></span>
        </a>
    </div>
    <!-- END: Pagination -->

</div>

<div class="nk-gap-2"></div>


        
    </div>


{% endblock %}