{% extends "layout.html" %}

{% block content %}
    <div class="d-flex justify-content-center">
        <div class="rounded bg-light">
            <form class="px-4 py-3">
                <div class="form-group form-row">
                    <div class="col">
                        <label for="inputFirstName">First name</label>
                        <input type="text" class="form-control" id="inputFirstName" placeholder="First name">
                    </div>
                     <div class="col">
                        <label for="inputLastName">Last name</label>
                        <input type="text" class="form-control" id="inputLastName" placeholder="Last name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" class="form-control" id="inputEmail" placeholder="email@example.com">
                </div>
                <div class="form-group form-row">
                    <div class="col">
                        <label for="inputPassword1">Password</label>
                        <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                    </div>
                    <div class="col">
                        <label for="inputPassword2">Confirm Password</label>
                        <input type="password" class="form-control" id="inputPassword2" placeholder="Confirm Password">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Sign Up</button>
            </form>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Already have an account? Log in</a>
        </div>
    </div>
{% endblock %}
